<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnl7phBfuKF8wyorS7yTVtCLmWKyYkQ-w</string>
	<key>GCM_SENDER_ID</key>
	<string>894656592896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pfeprojet</string>
	<key>PROJECT_ID</key>
	<string>creno-ad53a</string>
	<key>STORAGE_BUCKET</key>
	<string>creno-ad53a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894656592896:ios:1356ab1c92f0768eddace5</string>
</dict>
</plist>